html {
  font-size: 62.5%;
}

#contact_modal {
  display: none;
  position: absolute;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #00000030;
  overflow: hidden;
}

.s_no-scroll {
  overflow-y: hidden;
}

.photograph_header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.photograph_header article img {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  object-fit: cover;
}
.photograph_header article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.photograph_header article div {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.photograph_header article h2,
.photograph_header article h4 {
  margin: 0;
}

.photograph_header article h2 {
  font-size: 2.4rem;
  color: #d3573c;
}

.photograph_header article h4 {
  font-size: 1.6rem;
  color: #901c1c;
}

.photograph_header article span {
  font-size: 1.3rem;
  color: #525252;
}

.photograph_product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10vh;
  margin: 50px 100px;
}

.photograph_product article {
  display: flex;
  flex-direction: column;
}

.photograph_product img {
  width: 20vw;
  height: 40vh;
  object-fit: cover;
  border-radius: 1rem;
}
.photograph_product video {
  width: 20vw;
  height: 40vh;
  object-fit: cover;
  border-radius: 1rem;
}

.photograph_product .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em 0 0;
}

.photograph_product article h2 {
  font-size: 1.6rem;
  color: #901c1c;
  font-weight: 400;
  text-overflow: ellipsis;
}
.photograph_product article span {
  font-size: 1.3rem;
  color: #000;
  font-weight: 400;
  margin-right: 0.3rem;
}

.photograph_product .info div {
  display: flex;
  align-items: center;
}

.likePrice {
  position: fixed;
  top: 100%;
  right: 5%;
  transform: translateY(-100%);
  width: 30rem;
  height: 5rem;
  background-color: #dc8876;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.textLike {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #f1f1f7;
}
.textPrice {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #f1f1f7;
}

.contact_button {
  font-size: 1.6rem;
  color: white;
  padding: 8px 12px;
  width: 18rem;
  border: none;
  background-color: #901c1c;
  border-radius: 4px;
  cursor: pointer;
}

.contact_button:hover {
  background-color: #dc8876;
  color: #000;
}

.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 42rem;
  padding: 35px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
  width: 20px;
}
.selectButton {
  background-color: #fff;
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #fff;
  text-align: left;
  cursor: pointer;
}
.modal header h2 {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  color: #181818;
}

.confirmation {
  display: none;
}

.modal_succes {
  color: #fff;
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
}
.modal_succes_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36rem;
}
.modal_succes_wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

form label {
  color: #181818;
  font-size: 1.6rem;
  font-weight: 400;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 58px;
  border: none;
  border-radius: 5px;
}

textarea,
form input {
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1.4rem;
}

.formData {
  margin: 0;
  padding: 0;
}

.formData.success input {
  border: 3px solid #09c372 !important;
}
.formData.error input {
  border: 3px solid #ff3860 !important;
}
.formData .error {
  color: #fff !important;
  font-size: 1.2rem !important;
  height: 13px !important;
  margin-bottom: 0.5rem !important;
}

.tra .block {
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.block .heart-icon {
  width: 1.6rem;
  fill: transparent;
  transition: transform 0.25s ease-out;
}
.block .heart-icon .fill-color-shape {
  fill: transparent;
}
.icon {
  margin-left: 1rem;
  color: #e74c3c;
  filter: drop-shadow(0 1px 3px #e74c3c);
}
.block .heart-icon.isLiked {
  filter: drop-shadow(0 1px 3px #c44133);
}
.block .heart-icon.isLiked .fill-color-shape {
  transition: fill 0.5s linear;
  fill: #e74c3c;
}
.block .heart-icon:hover {
  transform: scale(1.2);
}
.block .number-of-likes {
  font-size: 1.3rem;
  user-select: none;
  color: #292d34;
}
.photograph_select {
  display: flex;
  margin: 0 100px;
  align-items: center;
  z-index: 999999 !important;
}
.photograph_select span {
  margin-top: 2rem;
  font-size: 2rem;
}
.select-box {
  margin-top: 2rem;
  margin-left: 20px;
  position: relative;
  display: block;
  width: 18rem;
  font-size: 1.8rem;
  color: #fff;
}
.select-box__current {
  position: relative;
  cursor: pointer;
  outline: none;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  animation-name: none;
  z-index: 10;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 20px;
  transition: 0.2s ease;
}
.select-box__value {
  display: flex;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  background-color: #901c1c;
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #fff;
}
.select-box__list {
  position: absolute;
  margin: 0.6px 0;
  width: 100%;
  padding: 0;
  list-style: none;
  animation-name: HideList;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: step-start;
}
.heartButton {
  border: none;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}
.content {
  border: none;
  background-color: #fff;
  padding: 0;
  margin: 0;
}
.select-box__option {
  display: block;
  padding: 15px;
  background-color: #901c1c;
  border-bottom: 0.6px solid #fff;
}
.select-box__option:hover {
  background-color: #dc8876;
  color: #000;
}

.select-box__list li:last-child .select-box__option {
  border-bottom: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

@media screen and (max-width: 670px) {
  .photograph_header article {
    flex-direction: column-reverse;
  }
  .photograph_header {
    height: 100%;
  }
  .select-box {
    margin-left: 15px;
  }
  .photograph_select {
    margin-right: 50px;
  }
}

/* The Modal (background) */
.modalSlide {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0%;
  top: 0%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: #fff;
  align-items: center;
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttonClose {
  background-color: transparent;
  border: none;
}

.media_title {
  display: flex;
  justify-content: center;
  padding-left: 5vw;
  padding-top: 2vh;
}
.media_title h1 {
  color: #901c1c;
  font-weight: 400;
}

.arrow {
  font-size: 68px;
  display: flex;
  align-items: center;
  padding: 0 100px;
  color: #901c1c;
  height: 100px;
  font-weight: 700;
  border: none;
  background-color: transparent;
}

#media {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.closeContainer {
  height: 100%;
}
/* The Close Button */
.close {
  font-size: 110px;
  height: 100px;
  color: #901c1c;
  border: none;
  background-color: transparent;
  position: absolute;
  left: 90%;
  top: 0%;
}
.arrowLeft {
  position: absolute;
}
.arrowRight {
  position: absolute;
  left: 90%;
}

.arrow:hover,
.arrow:focus,
.close:hover,
.close:focus {
  color: #e74c3c;
  text-decoration: none;
  cursor: pointer;
}

.itemImg {
  width: 65vw;
  height: 80vh;
  object-fit: contain;
}
