#contact_modal {
  display: none;
}

.photograph_header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.photograph_header article img {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  object-fit: cover;
}
.photograph_header article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.photograph_header article div {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.photograph_header article h2,
.photograph_header article h4 {
  margin: 0;
}

.photograph_header article h2 {
  font-size: 2.4rem;
  color: #d3573c;
}

.photograph_header article h4 {
  font-size: 1.6rem;
  color: #901c1c;
}

.photograph_header article span {
  font-size: 1.3rem;
  color: #525252;
}

.photograph_product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10vh;
  margin: 50px 100px;
}

.photograph_product article {
  display: flex;
  flex-direction: column;
}

.photograph_product img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 1rem;
}
.photograph_product video {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 1rem;
}

.photograph_product .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photograph_product article h2 {
  font-size: 1.6rem;
  color: #901c1c;
  font-weight: 400;
  text-overflow: ellipsis;
}
.photograph_product article span {
  font-size: 1.3rem;
  color: #000;
  font-weight: 400;
  margin-right: 0.3rem;
}

.photograph_product .info div {
  display: flex;
  align-items: center;
}

.contact_button {
  font-size: 1.8rem;
  color: white;
  padding: 15px;
  width: 18rem;
  border: none;
  background-color: #901c1c;
  border-radius: 4px;
  cursor: pointer;
}

.contact_button:hover {
  background-color: #dc8876;
  color: #000;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.block {
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.block .heart-icon {
  width: 1.6rem;
  fill: transparent;
  transition: transform 0.25s ease-out;
}
.block .heart-icon .fill-color-shape {
  fill: transparent;
}
.block .heart-icon.isLiked {
  filter: drop-shadow(0 1px 3px #c44133);
}
.block .heart-icon.isLiked .fill-color-shape {
  transition: fill 0.5s linear;
  fill: #e74c3c;
}
.block .heart-icon:hover {
  transform: scale(1.2);
}
.block .number-of-likes {
  font-size: 1.3rem;
  user-select: none;
  color: #292d34;
}
.photograph_select {
  display: flex;
  margin-right: 100px;
  align-items: center;
  justify-content: right;
}
.photograph_select span {
  margin-top: 2rem;
  font-size: 2rem;
}
.select-box {
  margin-top: 2rem;
  margin-left: 20px;
  position: relative;
  display: block;
  width: 18rem;
  font-size: 1.8rem;
  color: #fff;
}
.select-box__current {
  position: relative;
  cursor: pointer;
  outline: none;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
  animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  transition: 0.2s ease;
}
.select-box__value {
  display: flex;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  background-color: #901c1c;
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #fff;
}
.select-box__list {
  position: absolute;
  margin: 0.6px 0;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
  animation-name: HideList;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
  animation-timing-function: step-start;
}
.select-box__option {
  display: block;
  padding: 15px;
  background-color: #901c1c;
  border-bottom: 0.6px solid #fff;
}
.select-box__list li:last-child label {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.select-box__option:hover,
.select-box__option:focus {
  background-color: #dc8876;
  color: #000;
}
@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

@media screen and (max-width: 670px) {
  .photograph_header article {
    flex-direction: column-reverse;
  }
  .photograph_header {
    height: 100%;
  }
  .select-box {
    margin-left: 15px;
  }
  .photograph_select {
    margin-right: 50px;
  }
}
