#contact_modal {
  display: none;
}

.photograph_header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.photograph_header article img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.photograph_header article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.photograph_header article div {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.photograph_header article h2,
.photograph_header article h4 {
  margin: 0;
}

.photograph_header article h2 {
  font-size: 3.2rem;
  color: #d3573c;
}

.photograph_header article h4 {
  font-size: 1.8rem;
  color: #901c1c;
}

.photograph_header article span {
  font-size: 1.3rem;
  color: #525252;
}

.photograph_product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10vh;
  margin: 100px 100px;
}

.photograph_product article {
  display: flex;
  flex-direction: column;
}

.photograph_product img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 1rem;
}
.photograph_product video {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 1rem;
}

.photograph_product .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photograph_product article h2 {
  font-size: 2.4rem;
  color: #901c1c;
  font-weight: 400;
}
.photograph_product article span {
  font-size: 1.8rem;
  color: #333;
  font-weight: 400;
  margin-right: 1rem;
}

.photograph_product .info div {
  display: flex;
  align-items: center;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
