@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section a {
  text-decoration: none;
  color: #000;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2,
.photographer_section article h4 {
  margin: 0;
}

.photographer_section article h2 {
  font-size: 2.4rem;
  color: #d3573c;
}

.photographer_section article h4 {
  font-size: 1.6rem;
  color: #901c1c;
}

.photographer_section article span {
  font-size: 1.3rem;
}

.photographer_section article span:last-child {
  color: #757575;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  backface-visibility: hidden;
  transform: translateZ(0);
  image-rendering: -webkit-optimize-contrast;
}
